<div class="about-section">
    <h1>Acerca de Nosotros</h1>
    <p>Somos un equipo de profesionales apasionados por la tecnología y la innovación. Jaider Lopez, Yan Carlos Tano e
        Isaac Amin Sofan fundaron esta empresa con la visión de crear soluciones creativas y efectivas para nuestros
        clientes. Cada uno de nosotros aporta una amplia experiencia en áreas clave, como desarrollo de software, diseño
        gráfico y estrategia de negocios. Nos enorgullece ofrecer un servicio personalizado y de alta calidad para
        ayudar a nuestros clientes a alcanzar sus objetivos. Nuestro compromiso con la excelencia y la satisfacción del
        cliente es lo que nos impulsa a seguir adelante.</p>
    <p> ¡Gracias por elegirnos! </p>
</div>

<h2 style="text-align:center">Un poco mas.</h2>
<div class="row">
    <div class="column">
        <div class="card">
            <img src="https://images.unsplash.com/photo-1611463537830-69624771b809?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGJveXN8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60"
                alt="Isaac Sofan" style="width:100%">
            <div class="container">
                <h2>Isaac Amin Sofan Hernandez.</h2>
                <p class="title">CEO & Founder</p>
                <p>Soy un experto en marketing digital con una amplia experiencia en SEO, publicidad en redes sociales y
                    marketing de contenidos. Ha ayudado a muchas empresas a mejorar su presencia en línea y a aumentar
                    sus ventas a través de estrategias de marketing efectivas.</p>
                <br>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="https://images.unsplash.com/photo-1611316185995-9624c94487d1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGJveXN8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60"
                alt="Yan Tano" style="width:100%">
            <div class="container">
                <h2>Yan Carlos Tano Espitia.</h2>
                <p class="title">Operation Director</p>
                <p>Soy un desarrollador de software experimentado con una sólida formación en ingeniería de software. Ha
                    trabajado en una variedad de proyectos de desarrollo de software, desde aplicaciones móviles hasta
                    sistemas empresariales complejos.</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="https://images.unsplash.com/photo-1618641986557-1ecd230959aa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Ym95c3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60"
                alt="Jaider Lopez" style="width:100%">
            <div class="container">
                <h2>Jaider Lopez Tuberquia.</h2>
                <p class="title">Designer</p>
                <p>Soy un diseñador gráfico talentoso con un ojo para el detalle y una pasión por la creatividad. Ha
                    trabajado en varios proyectos de diseño gráfico, desde la creación de logotipos hasta el diseño de
                    sitios web y aplicaciones móviles.</p>
                <br>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
    <div class="about-section">
        <p>En conjunto, nuestro equipo está comprometido a proporcionar un servicio personalizado y de alta calidad
            a cada uno de nuestros clientes. Nos esforzamos por superar las expectativas y garantizar la
            satisfacción del cliente en cada proyecto que emprendemos. Nuestra dedicación a la excelencia y a la
            satisfacción del cliente es lo que nos impulsa a seguir adelante y a lograr el éxito en todo lo que
            hacemos.</p>
    </div>

</div>