<div class="container">
    <div class="login-container">
        <div class="bg-black rounded-4 shadow-5-strong p-5 div-form">
            <h2>LOGIN</h2>
            <img class="avatar" src="../../../assets/logo.svg">
            <div class="justify-content-center">
                <form class="form">
                    <div class="mb-4">
                        <label for="user" class="form-label">Email</label>
                        <input formControlName="email" type="text" class="form-control" id="user" name="usuario">
                        <label for="password" class="form-label">Password</label>
                        <input formControlName="password" type="password" class="form-control" id="password"
                            name="password">

                        <!-- <a id="pwd" class="pr">Forgot password?</a> -->
                        <input type="submit" class="btn btn-success" value="Sign In">
                    </div>
                </form>
            </div>
            <div class="div-register">
                <p>Don't have an account?<a class="pr"> Sign up here</a>.</p>
            </div>
        </div>
    </div>
</div>